$item-padding-side: 32px;
$item-padding-top: 16px;
$item-width: 300px;
$item-margin: 8px;
$item-base-color: #ffe6fe;
$item-hilight-color: #cb45c6;
$item-complete-base-color: #E6FFF2;
$item-complete-hilight-color: #45CB87;

.item-list{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px 0;
  max-width: 1300px;
  margin: auto;
}

.item{
  display: flex;
  flex-direction: column;
  background-color: $item-base-color;
  width: $item-width;
  max-width: calc(100% - 2*$item-margin);
  vertical-align: top;
  margin: $item-margin;
  text-align: left;
  transition: 0.2s ease-out;

  &:hover{
    background-color: darken($item-base-color, 5);
    box-shadow: 0px 0px 40px 0px fade_out($item-hilight-color, 0.5);

    .item-share{
      background: rgb(255,117,248);
    }
  }


  // fukkin 'orible
  &.item-complete{
    background-color: $item-complete-base-color;

    .bar-chart-bar{
      background-color: $item-complete-hilight-color;
    }

    .button{
      border-color: $item-complete-hilight-color;
      color: $item-complete-hilight-color;

      &:hover{
        color: white;
        background-color: $item-complete-hilight-color;
      }
    }

    .item-share{
      background: darken($item-complete-base-color, 10);
    }

    &:hover{
      background-color: darken($item-complete-base-color, 5);
      box-shadow: 0px 0px 40px 0px fade_out($item-complete-hilight-color, 0.5);

      .item-share{
        background: darken($item-complete-base-color, 20);
      }
    }
  }
}

.item-title-wrapper{
  padding: $item-padding-top $item-padding-side 0 $item-padding-side;
}

.item-title{
  margin: 0 0 16px 0;
  font-weight: 800;
  text-transform: capitalize;
}

.item-title-controls{
  text-align: center;
}

.item-description{
  font-size: 10pt;
  font-weight: 400;
  line-height: 15pt;
  max-height: 30pt;
  overflow: hidden;
}

.item-content{
  padding: 0 $item-padding-side;
  color: rgb(203, 69, 198);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.item-actions{
  padding: 16px 0 32px 0;
  text-align: right;
}

.item-status{
  width: 100%;
  margin: 16px 0;
}

.item-share{
  transition: 0.2s ease-out;
  text-align: center;
  background-color: #fcc5fa;
  color: #292929;
  padding: $item-padding-top $item-padding-side;
}

.share-text{

  font-size: 8pt;
}

.item-button-share{
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 42px;
  margin: 10px;
  border: 2px solid;
  border-radius: 50%;
  transition: 0.3s ease-out;
  cursor: pointer;


  &:hover{
    color: #FFFFFF;
  }
}


.item-status-label{
  margin:0;
  font-weight: 100;
  font-size: 60pt;
  text-align: center;
  color: $item-hilight-color;
}

$bar-chart-height: 32px;

.bar-chart{
  position: relative;
  padding: 16px 0;
  width: 100%;
  height: $bar-chart-height;
}

.bar-chart-track{
  position: relative;
  height: $bar-chart-height;
  background-color: fade_out($item-hilight-color, 0.5);
}

.bar-chart-bar{
  position: absolute;
  top:0;
  left:0;
  height: $bar-chart-height;
  background-color: $item-hilight-color;
}

.bar-chart-label{
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -$bar-chart-height/2;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: $bar-chart-height;
  font-weight: 100;
  text-shadow: 0px 0px 15px rgba(0,0,0,0.7);
  font-size: 60pt;
  text-align: center;
  color: rgb(255,255,255);
}
